services:
  redis:
    image: redis:7.4-alpine
    container_name: fibo-redis
    ports:
      - "6379:6379"
    command: redis-server --save 60 1 --loglevel warning
    networks:
      - fibo-net

  orchestrator:
    build:
      context: ./orchestrator
      dockerfile: Dockerfile
    container_name: fibo-orchestrator
    ports:
      - "8080:8080"
    environment:
      - AMQP_URL=${AMQP_URL_LEADER}
      - REDIS_URL=${REDIS_URL}
      - GIN_MODE=release
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s
    deploy:
      resources:
        limits:
          cpus: '2.0'
          memory: 2G
    networks:
      - fibo-net

  fibo-go:
    build:
      context: ./worker-go
      dockerfile: Dockerfile
    container_name: worker-go
    environment:
      - AMQP_URL=${AMQP_URL_GO}
      - REDIS_URL=${REDIS_URL}
    # depends_on:
    #   orchestrator:
    #     condition: service_healthy
    deploy:
      resources:
        limits:
          cpus: '5.0'
          memory: 5G
    networks:
      - fibo-net

  # fibo-rust:
  #   build:
  #     context: ./worker-rust
  #     dockerfile: Dockerfile
  #   container_name: worker-rust
  #   environment:
  #     - AMQP_URL=${AMQP_URL_RUST}
  #   depends_on:
  #     orchestrator:
  #       condition: service_healthy
  #   deploy:
  #     resources:
  #       limits:
  #         cpus: '5.0'
  #         memory: 5G
  #   networks:
  #     - fibo-net

  # fibo-python:
  #   build:
  #     context: ./worker-python
  #     dockerfile: Dockerfile
  #   container_name: worker-python
  #   environment:
  #     - AMQP_URL=${AMQP_URL_PYTHON}
  #   depends_on:
  #     orchestrator:
  #       condition: service_healthy
  #   deploy:
  #     resources:
  #       limits:
  #         cpus: '5.0'
  #         memory: 5G
  #   networks:
  #     - fibo-net

  # fibo-node:
  #   build:
  #     context: ./worker-node
  #     dockerfile: Dockerfile
  #   container_name: worker-node
  #   environment:
  #     - AMQP_URL=${AMQP_URL_NODE}
  #   depends_on:
  #     orchestrator:
  #       condition: service_healthy
  #   deploy:
  #     resources:
  #       limits:
  #         cpus: '5.0'
  #         memory: 5G
  #   networks:
  #     - fibo-net

networks:
  fibo-net:
    driver: bridge
    name: fibo-benchmark-network